body
{
    font-family: 'Kumbh Sans', sans-serif;
}
.badge-custom
{
    background-color: #ffede0;
}
.badge-text
{
    color:hsl(26, 100%, 55%);
}
.avatar
{
    width: 50%;
    height: 50%;
}
.cart
{
    width: 30%;
    height: 20%;
}
hr.solid
{
    width: 75%;
}
.navbar
{
    margin-left: 150px;
}
.secondnav
{
    margin-right: 150px;
}
.product1
{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.sneakertext
{
    color:hsl(26, 100%, 55%);
    font-weight: bold;
}
.sneakerheader
{
    font-size: 32px;
    padding-right: 100px;
    
}
.sneakerdesc
{
    opacity: 75%;
}
.textcolumn
{
    margin-left: 50px;
    margin-right: 25px;
}
.sneakerprice
{
    opacity:50%;
}
.thumbnail
{
    width:100x;
    height:100px;
    border-radius: 5%;
    margin-top: 5px;
}
